{% extends 'ExampleUserRegistrationBundle::layout.html.twig' %}

{% block title %}登録内容の確認{% endblock %}

{% block content %}
<h2>登録内容の確認</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>お名前</th>
            <td>{{ user.lastName }} {{ user.firstName }}</td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td>****</td>
        </tr>
    </tbody>
</table>
<form action="{{ path('register_do') }}" method="post">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary" name="next">登録する</button>
    <button type="submit" class="btn" name="prev">修正する</button>
</form>
{% endblock %}